@import url('https://fonts.googleapis.com/css?family=Silkscreen');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#ffffff;
}

/* Header */

.logo {
    width: 40px;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    height: 100px !important;
    background-color: #FF5733;
}

header img {
    background-color: #FF5733;
    display: inline-block;
}

header li, a {
    display: inline-block;
    font-family: "Silkscreen";
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 0px 10px;
    background-color: #FF5733;
}

.nav-links {
    background-color: #FF5733;
}

/* Main with Sections */

main {

    display: inline-block;
    margin-top: 30px;
    margin-left: 50px;
}

.info {
    margin: 20px;
    width: 100%;
}

.info h2 {
    float: left;
    width: 350px;
    display: inline-block;
    font-family: "Silkscreen";
    font-size: 40px;
    color: #FF5733;
}

.info p {
    display: block;
    font-family: verdana;
}

/* Footer */

footer {
   text-align: center;
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 60px;   /* Height of the footer */
   background-color: #FF5733;
   clear: both;
}

footer p, footer h2 {
    display: inline-block;
    font-family: "Silkscreen";
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 5px;
    background-color: #FF5733;
}