@import url('https://fonts.googleapis.com/css?family=Silkscreen');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#ffffff;
}

/* Header */

.logo {
    width: 60px;
    cursor: pointer;
    padding-left: 20px
}

h1 {
    font-family: "Silkscreen";
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 0px 10px;
    background-color: #FF5733;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    height: 100px !important;
    background-color: #FF5733;
    clear: both;
}

header img {
    background-color: #FF5733;
    display: inline-block;
}

header li, a {
    display: inline-block;
    font-family: "Silkscreen";
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 0px 10px;
    background-color: #FF5733;
}

.nav-links {
    background-color: #FF5733;
}

/* Main with Sections */

main {
    margin-top: 30px;
    margin-left: 50px;
}

.float-left-about {
    float: left;
    white-space: nowrap;
    min-width: 250px;
}

.float-left-work {
    float: left;
    white-space: nowrap;
    min-width: 250px;
}

.float-left-work h2 {
    float: left;
    white-space: nowrap;
    min-width: 250px;
}

.float-left-contact {
    float: left;
    white-space: nowrap;
    min-width: 250px;
    min-height: 100px
}
.main-sections h2 {
    color: #FF5733;
    font-family: "Silkscreen";
    font-size: 40px;
}

.main-sections h2 {
    color: #FF5733;
    font-family: "Silkscreen";
    font-size: 40px;
}

.main-sections p {
    color: #000;
    font-family: "Courier New";
    font-size: 20px;
}

.info {
    display: flex;
    flex-wrap: wrap;
}

.info h2 {
    font-family: "Silkscreen";
    font-size: 40px;
    color: #FF5733;
}

.info p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

.container-work {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
    max-width: 90%;
    margin: 0 auto;
}

.square {
    width: 39vw;
    height: 13vw;
    border-width: thick;
    color: #FF5733;
    border-style: dashed;
    border-radius: 25px;
    top: 0;
}

.bigbox {
    width: 39vw;
    height: 39vw;
    color: #FF5733;
    border-width: thick;
    border-style: dashed;
    border-radius: 25px;
    top: 0;
    text-decoration: none;
}

/* Footer */

footer {
   display: flex;
   justify-content: center;
   width: 100%;
   background-color: #FF5733;
}

footer p, footer h2 {
    font-family: "Silkscreen";
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    background-color: #FF5733;
}

/* Media Queries */

@media screen and (max-width: 480px) {
    .app-grid-container {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .app-1 {
        grid-column: 1/ span 2;
    }

    .card {
        grid-column: 1/ span 2;
    }

    .about-layout {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 640px) {
    .about-layout {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .headshot {
        width: 100%;
        max-width: 300px;

    }

    .contact-container {

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center
    }
}

@media screen and (max-width: 992px) {
    .app-grid-container {
        grid-template-columns: 1fr 1fr;
    }

    .app-1 {
        grid-column: 1/ span 2;
    }
}